
Builds/MacOSX/build/Debug/
Builds/MacOSX/.DS_Store
Builds/.DS_Store
Builds/MacOSX/ui.xcodeproj/xcuserdata/
Builds/MacOSX/ui.xcodeproj/project.xcworkspace/xcuserdata/
Builds/MacOSX/ui.xcodeproj/project.xcworkspace/xcshareddata/
